

.content div{
    padding: 0;
}
.search_T {width:100%;float:left;}
.search_T .search_otherHd {width:100%;}
.search_T .search_otherHd .K {width:75%;background-color:#FFF;border:2px solid #0099e9;height:46px;}
.search_T .search_otherHd .K input {width:90%;}
.search_T .search_otherHd a {float:left; width:25%}
.search_T .search_Keyword {height:30px;line-height:30px;font-size:14px;color:#aaa;}
.search_T .search_Keyword a {color:#aaa;margin-right:8px;}
.search_T .search_Keyword a:hover {color:#0099e9;text-decoration: underline;}
.search_fullHd {text-align:center;padding:120px 0;}
.search_fullHd img {width:95px;height:95px;}
.search_fullHd p {font-size:14px;color:#999;text-align:center;padding-top:30px;}

.search_otherHd {overflow:hidden;padding:38px 0 0;}
.search_otherHd .K {width:678px;height:44px;border-left:1px solid #d3d3d3;border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;float:left;margin-left:0;}
.search_otherHd .K input {
	width: 460px;
	/* height: 18px; */
	border: none;
	margin: 10px 20px;
	font-size: 15px;
	color: #666;
}
.search_otherHd .K input:FOCUS {
	box-shadow:none !important;
	border: none;
	
}

.search_otherHd a {display:block;width:150px;height:46px;text-align:center;line-height:46px;background-color:#0099e9;color:#FFF;font-size:16px;float:left;}
.search_otherHd a:hover {background-color: #0082c6;}

.search_endTxt {overflow:hidden;line-height:46px;text-align:left;padding-left:20px;font-size:14px;color:#333;background-color:#f7fbfd;margin-bottom:20px;}
.search_endTxt p span {color:#0099e9;}

.content .search_result_msg{
    float: left;
    width: 100%;
    height: 50px;
    margin-top:20px;
    margin-bottom: 20px;
    background: #eee;
    padding: 15px;
}


.content .activity_title{
    background: #E7E7E7;
    float: left;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute;
    *left: 0;
}
.content .activity_title>div{
    height: 60px;;
    color: #000;
    font-size: 15px;
    padding: 15px 10px;
    position: relative;
    z-index: 2;
    *width: 190px;
    -width: 190px;
    *padding-right: 0;
    -padding-right: 0;
}
.title>.m_time{
    *width: 240px !important;
}
.content .title input{
    border: none;
    border-radius: 5px;
    background: #51A7F4;
    height: 30px;
    box-shadow: 0 1px 1px 1px rgba(49, 102, 149, 0.14);
    padding-left: 8px;
    margin-left: 5px;
    width: 70%;
    text-align: left;
    *color: #fff ;
    -color: #fff ;
}
.choose{
    background: #1268B5 !important;
    z-index: 1000 !important;
}
li{
    list-style: none;
}
.hot,.recommend{
    width: 60px;
    width: 50px \0;
    height: 33px;
    border: none;
    border-radius:8px;
    background: #3A88D2;
    position: relative;
    z-index: 100;
    *color: #fff ;
    -color: #fff ;
}
.recommend{
    margin-left: -10px;
}
.meeting_cat,.meeting_time{
	
  /*   width: 470px;
    background: rgba(255, 255, 255, 0.95);
    *background: #fff;
    -background: #fff;
    border-radius: 3px;
    box-shadow:0px 0px 2px 1px rgba(153, 153, 153, 0.12);
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px 0 10px 20px;
    display: none;
    border: 1px solid #eee; */
    width: 380px;
        padding: 0;
    margin: 0;
    z-index: 99998;
    text-align: left;
    font-size: 12px;
    border: #aaa solid 1px;
    position: absolute;
    top: 49px;
    left: 45px;
    background: #FFF;
     display: none;
}
.meeting_cat li{
    width: 24%;
    display: inline-block;
    padding-left: 7px;
    line-height: 35px;
}
.meeting_cat li a{
    color: #000 !important;
    font-size: 14px;
}
.content .title div img{
    position: absolute;
    bottom: -11px;
    left: 21%;
    display: none;
    z-index: 1001;
    *bottom: 19px;
}
.meeting_cat li a:hover{
    color: #3E8DDA !important;
}
.cities{
    padding: 20px;
    width: 355px;
}
.cities li a{
    font-size: 14px;
    color: #7C8396 !important;
}
.cities li a:hover{
    color: #3E8DDA !important;
}
.cities li span{
    color: #000;
    font-size: 17px;
    display: block;
}
.cities .hot_city{
    width: 100%;
    color: #C2C5D6;
    font-size: 14px;
    border-bottom: 1px solid #D8D7DF;
    padding:0px 0px 10px;
}
.hot_city a{
    color: #7C8395 !important;
    padding: 0;
}
.cities .letter{
    width: 100%;
    line-height: 25px;
    float: left;
}
.cities .letter a{
   width: 18%;
    display: inline-block;
    line-height: 30px;
}
.cities .letter span{
    padding: 10px 0;
}
.meeting_time{
    padding: 10px 0;
}
.meeting_time li{
    padding: 0 20px;
    line-height: 30px;
}
.meeting_time li a:hover{
    color: #3E8DDA !important;
}
.meeting_time .rencent{
    width: 100%;
    border-bottom: 1px solid #D8D7DF;
    padding: 20px;
}
.meeting_time .rencent a{
    color: #000 !important;
    padding-right: 30px;
    font-size: 14px;
    padding-left: 6px;
}
.meeting_time li span{
    display: block;
    border-bottom: 1px solid #D8D7DF;
    color: #000;
    font-size: 16px;
    /* width: 16%; */
    text-align: left;
    padding:10px 5px 3px;
    margin-bottom: 15px;
}
.meeting_time li a{
    font-size: 14px;
    color: #7C8395 !important;
    padding-right: 10px;
    padding-left: 5px;
}
.calendar{
    display: inline-block;
    background: #2B80D0;
    padding: 7px 10px;
    border-radius: 5px;
    position: relative;
    left: 4%;
}
#start_time{
    position: absolute;
    bottom: -17px;
    width: 100%;
    height: 43px;
    left: 0;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);   /* IE 8 */
}
.laydate_body .laydate_y .laydate_yms ul li {
    width: 50% !important;
}
.email_take{
    width: 100px;
}
.hot_rec{
    padding-left:3% !important;
}
.content_left{
    width: 78%;
    *width: 915px;
    -width: 915px;
    float: left;
     position: relative;
}
.content_right{
    width: 22%;
    /*background: #FFF;*/
    float: left;
    padding-left: 20px !important;
    position: relative;
    /*box-shadow: 0 0 1px 1px rgba(180, 180, 180, 0.38);*/
}
.email_take{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: none;
    background: #3490E7;
    color: #fff;
    font-size: 19px;
    outline: none;
    box-shadow: 0 0 1px 1px rgba(132, 132, 132, 0.4);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: relative;
}
.email_take:hover{
    background: #2e7fcc;
}
#emailTakeForm{
    width: 94%;
    padding: 15px;
    position: absolute;
    top: 68px;
    left: 20px;
    background: #FFF;
    border-radius: 5px;
    box-shadow:0 0 7px 0px rgba(132, 132, 132, 0.33);
    display: none;
    z-index: 1000;
    *border: 1px solid #eee;
}
.img{
    position: absolute;
    top: 60px;
    left: 45%;
    display: none;
    z-index: 1001;
}
#emailTakeForm input,#emailTakeForm select{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #E9E9F1;
    padding-left: 8px;margin-bottom: 15px;
    color: #7C8393;
    font-size: 15px;
    padding-top: 8px \0;
}
#emailTakeForm input::-webkit-input-placeholder {
    color:#7C8393;
}
#emailTakeForm input[name='checkcode']{
    width: 49%;
}
.post{
    width: 100%;
    height: 40px;
    border: none;
    background: #E64D4F;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}
/*列表*/
.meeting_list{
    padding: 20px !important;
    background: #FFF;
    height: 183px;
    border-bottom: 1px solid #D8D7DF;
    border-right: 4px solid rgba(105, 175, 250, 0);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.meeting_list:hover{
    border-right: 4px solid #0099E9;
    background: #F2F2F4;
}
.meeting_list:hover .meeting_name a{
    color: #3B99F0 !important;
}
.meeting_name{
    color: #5E5E5E !important;
    font-size: 17px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    margin: 0 0 10px;
}
.meeting_name a{
    color: #5E5E5E !important;
}
.meeting_des{
    width: 100%;
    color: #8C8C8C;
    height: 40px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;;
}
.m_time input[name="time"]{
    width:50%;margin: 0 15px 0 5px
}
.detail{
    padding:0 10px 0 20px !important;
    border-right: 1px solid #D8D7DF;
    *width: 450px;
    -width: 450px;
}
.meeting_tag>a{
    color: #99A0B1 !important;
    font-size: 12px;
    background: #E1E1EB;
    border-radius: 5px;
    margin-right: 10px;
    padding: 2px 5px;
}
.addr{
    padding-top:8px;
    margin: 0;
}
.addr span{
    margin-right: 10%;
    color: #99A0B1;
}
.addr span a{
    color: #8C8C8C !important;
}
.price{
    padding-top: 9px !important;
}
.price p:first-child{
    height: 80px;
}
.price p{
    color: #8C8C8C;
    font-size: 12px;
    margin-top: 17px;
}
.price p span{
    color: #E64E50;
    font-size: 19px;
}
.past{
    text-align: center;
    color: #5E5E5E;
    font-size: 17px;
    clear: both;
    padding: 5px 0;
    border-bottom: 1px solid #E3E7F0;
}
.past span{
    position: relative;
    top: 16px;
    background: #F7F8FB;
    padding: 0 15px;
}
.guoqi{
    position: absolute;
    left: 0;
    top: 0;
}
.hot_theme{
    width: 100%;
    background: #FFF;
    *border: 1px solid #eee;
    -border: 1px solid #eee;
}
.hot_theme,.app_down{
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    box-shadow:0 0 7px 0px rgba(132, 132, 132, 0.33);
    margin-bottom: 20px;
    border: 1px solid #eee \0;
}
.hot_theme>p:first-child{
    margin: 0;
    padding: 0 15px;
    color: #535A6C;
    font-size: 16px;
    line-height: 45px;
    border-bottom: 1px solid #E6E4EF;
}
.app_down{
    padding: 10px !important;
    float: left;
}
.app_down>div{
    width: 50%;
    float: left;
}
.app_down>div>p:first-child{
    color: #39414E;
    font-size: 14px;
    padding: 7px;
    padding-bottom: 0;
}
.app_down>div>a{
    background: #39414E;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
}
.app_down>div>a:hover{
    background: rgba(57, 65, 78, 0.61);
}
.xing{
    color: red;
    position: absolute;
    left: 2%;
    top: 29px;
}
@media (max-width:1200px) {
    .m_time input[name="time"]{
        margin: 0 0px 0 5px
    }
    .hot_rec {
        padding-left: 0% !important;
    }
    .calendar{
        padding: 7px 5px;
    }
}
@media (max-width:1200px) {
    .m_time input[name="time"]{
        margin: 0 0px 0 5px
    }
    .hot_rec {
        padding-left: 0% !important;
    }
    .calendar{
        padding: 7px 5px;
    }
}

.not{
    border: 1px solid red !important;
}
@font-face {
    font-family: "close_font";
    src: url("http://pic.huodongjia.com/static/css/close_iconfont.ttf");
}
.close{
    font-family:"close_font";
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 18px;
    line-height: 1 !important;
}
.all_events{
   width: 100%;
}
.meeting_cat li .select,.all_city li .select,.m_time li .select{
    color: #3B99F0 !important;
}
/*轮播*/
#focus-banner{
    width: 100%;
    position: relative;
    height: 280px;
}
#focus-banner-list{
    position: relative;
}
#focus-banner-list li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    list-style: none;
    display: none;
}
#focus-banner-list li img{
    width: 100%;
}
#focus-bubble{
    position: absolute;
    left: 41%;
    bottom: 20px;
    z-index: 999;
    padding: 0;
}
#focus-bubble li{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    cursor: pointer;
    list-style: none;
    border: 1px solid #fff;
}
#focus-bubble .active{
    background-color: #E54D4C;
    border: 1px solid #E54D4C;
}
#focus-banner-list .active{
    display: block;
}
#focus-banner .focus-handle{
    position: absolute;
    background-image: none;
    width: 42px;
    height: 42px;
    background: rgba(0, 0, 0, 0.51);
    top: 40%;
    display: block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
#focus-banner .focus-handle:hover{
    background: rgba(0, 0, 0, 0.6);
}
#next-img{
    left: 0;
}
#next-img{
    left: 20px;
}
#prev-img{
    right: 0;
}
#prev-img{
    right: 20px;
}
