body{
    font-family: 'Hiragino Sans GB',"Microsoft Yahei","微软雅黑",SimHei,Tahoma,Arial,Helvetica !important;
    background: #f7f8fb !important;
}
@font-face {
    font-family: "home_pagefont";
    /*src: url("../fonts/all_iconfont.ttf");*/
    font-family: "home_pagefont";
    src: url('../fonts/all_iconfont.eot'); /* IE9*/
    src: url('../fonts/all_iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/all_iconfont.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.m_iconfont{
    font-family: "home_pagefont";
}
body{
 	/* min-height: 2000px; */
  	padding-top: 75px !important;/* fixed top*/
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">\00a0";
}

.menu-head {
    width: 5%;
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
    color:#5b6265
}
      
.dropdown2-menu {
    background: #eee;
    padding: 12px 12px 3px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dropdown2-menu ul li a {
    color: #4a4a4a;
}
      
.dropdown2-menu ul li.active {
    background-color: #0099e9;
    border-radius: 3px;
}
    
      
.dropdown2-menu ul li.active a {
    color: white;
}
      
.dropdown2-menu ul li:hover {
    background-color: #0099e9;
    border-radius: 3px;
}
      
.dropdown2-menu ul li:hover a {
    color: white;
}
a:hover{
    text-decoration: none !important;
}
.nav a:hover{
    text-decoration: none !important;
    color: #fff !important;
}
/*background: #00A2CA;*/
.nav{
    width: 100%;
    background: #0099E9;
    height: 66px;
    /* position: relative; */
    z-index: 9990;
}
.nav>div>div{
    height: 65px;
    line-height: 65px;
    padding: 0 !important;
}
.nav ul{
    padding: 0;
    margin: 0;

}
.nav ul li{
    display: inline-block;
    text-align: center;
    color: #fff;
    width: 100px;
    box-sizing: border-box;
    *float: left;
}
.ordersearch{
    width:auto !important;
    padding:0 0 0 20px;
}

.nav ul li a{
    color: #fff;
    font-size: 18px;
}
.nav ul .menue:hover{
    background: #0382C5;
    cursor: pointer;
}
.nav ul .menue_right{
    float:right
}
.nav form input{
    line-height: normal !important;
    height: 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 3px;
    border: none;
    background: #0382C5;
    width: 90%;
    color: #fff;
    padding-left: 10px;
    outline: none;
    padding-right: 30px;
    font-size: 14px;
}
.nav form input::-webkit-input-placeholder{
    color: #dddddd;
    font-size: 14px;
}
.nav .none{
    width: 10%;
}
.nav .postevent{
    width:15% !important;
    float:right;
}
.nav .postevent a{
    font-size: 16px;
    background: #fff;
    padding: 9px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px; 
    color:#00A2CA;
}
.nav .postevent a:hover{
    background: #388A9E;
    color:#fff;
}
.nav .search{
    width: 21%;
    position: relative;
}
.nav .business,.findactivity{
    position: relative;
}

.m-search {
    position: relative;
    right: 23px;
    color: #E7EEF4;
    font-size: 18px;
    cursor: pointer;
}
.fa-navicon{
    position: absolute;
    right: 15px;
    color: #fff;
    top: 22px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.fa-navicon:hover{
    color: #e7e7e7;
}

.business_menue,.findactivity_menue{
    position: absolute;
    top: 66px;
    left: 0;
    width: 450px;
    background: rgba(3,130,197,0.88);
    *background: rgba(3,130,197,0.88);
    -background: rgba(3,130,197,0.88);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #000;
    text-align: left;
    padding: 10px 10px 10px 20px;
    box-shadow: 0 0 7px 1px rgba(118, 118, 118, 0.44);
    /*visibility: hidden;*/
    display: none;
    /* border: 1px solid #BA450D; */
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    z-index: 9999;
    cursor: auto;
}
.business:hover .business_menue{
    display: block;
}
.findactivity:hover .findactivity_menue{
    display: block;
}
.business_menue a , .findactivity_menue a{
    color: #fff !important;
    font-size: 14px !important;
}

.business_menue>div,.findactivity_menue>div{
    padding: 0 !important;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.business_menue span, .findactivity_menue span{
    padding: 0 !important;
}

.business_menue a:hover , .findactivity_menue a:hover{
    color: #2090CB !important;
    background: #fff;
    text-decoration: none !important;
    padding: 1px 4px;
    border-radius: 3px;
}
.login ol li a:hover{
    color: #0067B0 !important;
    text-decoration: none !important;
}
.time{
    border: 1px solid #D7D7D7;
    border-left: none;
    border-right: none;
    margin: 10px 0 0 !important;
    height:45px !important;
    line-height: 45px !important;
}
.industry,.time,.city{
    margin: 0px 0;
    height:35px !important;
    line-height: 34px !important;
}
.login{
    position: relative;
    float:right
}
.login ol{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 65px;
    left: 0;
    background: #FFF;
    line-height: 0;
    display: none;
    box-shadow: 0 0 7px 1px rgba(159, 159, 159, 0.31);
    z-index: 10;
}
.login ol li{
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #F4F3F8;
    height: 35px;
    line-height: 35px;
}
.login ol li a{
    color: #7B8294 !important;
    font-size: 14px;
}

/*footer*/
.footer{
    background: #555555;
    padding: 20px 0 5px;
}
.footer ul{
	padding: 0px;
}
.footer1 ul li{
    list-style: none;
    line-height: 33px;
    cursor: pointer;
}
.footer1{
    padding: 0;
}
.footer1 ul li a{
    color: #DBDBDB !important;
    font-size: 16px;
}
.footer1 ul li a:hover{
    color: #4693E3 !important;
}
.contact ul li a:hover{
    color: #A0A8B7 !important;
}
.footer1 ul .title {
    color: #000;font-size: 17px
}
.contact span{
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
}
.contact .fa,.contact .Phone{
    font-size: 2.2em;
    position: relative;
    top: -4px;
    padding: 0;
    color: #7C8395;
}
.contact .Phone{
    font-size: 1.5em;
    top: -15px;
}
.weixin{
    text-align: center;
}

 .weixin p{
    color: #DDE1EC;font-size: 16px;
     padding: 0 !important;
}
.introduce{
    clear: both;
}
.introduce p,.introduce p a{
    color: #DBDBDB;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
}
.container {
    width: 1200px !important;
    padding-right: 0px;
    padding-left: 0px;
}
.bannnerImg{
    width: 900px;
}
.bannnerImg ul li img{
    width: 900px;
}

@media (max-width:1200px) {
    .nav{
        width:1200px;
    }
}

.pagination{
    width: 82%;
    text-align: center;
}
.pagination-full {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    display: inline-block;
}
.pagination ul{
   display: inline-block;
    margin: 0 auto;
}
.pagination ul li,
.pagination-full ul li{
    display: inline-block;
    border: 1px solid #C7C7D3;
    border-radius: 4px;
    background: #EFEFF7;
    cursor: pointer;
    +float: left;
}
.pagination ul li a,
.pagination-full ul li a{
    color: #888886 !important;
    font-size: 15px;
    display: inline-block;
    padding: 7px 13px;
}
.pagination ul .page_active,
.pagination-full ul .page_active{
    background: #00A2CA;
    border: 1px solid #00A2CA;
    }
.pagination ul .page_active a,
.pagination-full ul .page_active a{
    color: #fff !important;
}

.bread_nav  a:hover{
    color: #3391E8 !important;
}
.pagination ul li:hover,
.pagination-full ul li:hover{
    border: 1px solid #00A2CA;
}
.erweima{
    display: inline-block;float:left;margin-top: 8px;
    margin-right: 15px;
    padding: 0 !important;
}
.kefu{
    position: absolute;
    top: 100%;
    display: none;
}
a:active{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
.container{
    +width: 1200px;
}
.col-sm-9{
    *width: 70%;
    -width: 70%;
}
input[type='text']:focus,textarea:focus,select:focus{border-color:rgba(102,175,233,.6) !important;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;outline: none}


.bread_nav {
    margin: 10px 0 15px !important;
    color: #BDC4D2 !important;
    padding: 8px 15px !important;
    border-radius: 5px;
     background: #F5F5F5 !important;
}
.bread_nav  a{
    color: #BDC4D2 !important;
}
.bread_nav h1{
    display: inline !important;
    font-size: 14px !important;
    color:#555 !important;
}
.bread_nav_right{
	color:#555 !important;
    display: inline-block;
    float: right;
}
