.carousel .carousel-control{
	display:none;
}
.carousel:hover .carousel-control{
	display:block;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	width:100%;
	max-width:1200px;
	max-height:500px;
}
.carousel-caption a{
	color:#fff;
}
.carousel-caption:hover a{
	color:#008000;
}
/*内容*/
.content{
    padding-bottom: 50px;
}
.content div{
    /*border: 1px solid red;*/
    padding: 0;
}
.content h3,.content h4{
    display: inline;
}
.content>div{
    margin-top: 20px;
    float: left;
}
.content a:hover{
    color: #44A859 !important;
}
.meeting_cat,.recent_meeting{
    border-bottom: 1px solid #D9DFEB;
    margin-bottom: 18px;
    padding-bottom: 10px !important;
}
.meeting_cat .more{
    float: right;margin-top: 10px;color: #C2C8D5 !important;
    font-size: 13px;
    cursor: pointer;
}
.meeting_cat h3 a,.meeting_cat span a{
    color: #0099E9 !important;
    font-size: 22px;
    padding-right: 30px;
    padding-left: 0;
}
.hot_guest span .jiabin,.hot_guest span .sponsor{
    padding: 0 5px 12px;
    color: #7C8290 !important;
    cursor: pointer;
}
.hot_guest span .Choose{
    color: #1067C8 !important;
    border-bottom: 2px solid #1067C8;
}

.all_meetings{
    padding: 5px !important;
    *float: left;
    *width: 180px;
}
.normal{
    /**width: 70%;*/
}
.meeting_cat h4 a{
    color: #0099E9  !important;
    font-size: 15px ;
    padding: 0 7px;
}
.meet_child{
    position: relative;
    overflow: hidden;
    max-height: 115px;
}
.normal .meetings:hover .meeting_name{
    color: #1067C8 !important;
}
.meet_child>p{
    width: 100%;
    height: 25px;
    background: #a5a5a5 \0;
    background: rgba(0, 0, 0, 0.36);
    color: #fff;
    line-height: 25px;
    padding: 0 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 0;
}
.meet_child >p>span{
    display: inline-block;
    text-align: left;
}
.meetings{
    background: #FFF;
    padding-bottom: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(183, 183, 183, 0.2);
    border: 1px solid #EAECF5 \0;
}
.meet_child img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.normal .meetings .meeting_name{
    font-size: 14px;
    padding: 5px 5px 0;
    color: #7C8290 !important;
    margin: 0;
    height: 49px;
    width: 100%;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.meeting_des{
    color: #7C8290 !important;
    padding: 0 10px;
    height: 40px ;
    width: 100%;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 14px;
}
.normal .all_meetings{
   /*  margin-bottom: 2px; */
}
.recent_meeting{
    color: #7C8290 !important;
    font-size: 18px;
    margin-bottom: 23px;
}
.recent{
    padding: 0;
    margin: 0;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 8px;
    box-shadow: 0 0 1px 1px rgba(183, 183, 183, 0.2);
}
.recent li>span{
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recent li{
    list-style: none;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #D9DFEB;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recent li a{
    color: #7C8290 !important;
    font-size: 14px;
}
.recent .recent_last{
	border:none;
}
.recent li.showAll{
	white-space:normal !important;
}
.recent_detail{
    padding:6px 7px  6px 0 !important;
    display: none;
    position: relative;
}
.recent_detail img{
    /*display: inline-block;*/
}
.recent_detail p.wholetitle{
	color:#000
}
.recent_detail p{
    /* float: right; */
    /*padding:20px 0px 0 7px;*/
    color: #B8BAC7 ;
     margin-bottom: 0px;
    /*position: absolute;
    bottom: 5px;
    right: 10%; */
}
.meeting_cat>a:hover{
    color: #1067C8 !important;
}
.load_more{
	width:100%;
	text-align:center;
	height:40px;line-height:40px;overflow:hidden;
}
.load_more a{
	cursor: pointer;
}
.choose{
    color: #1067C8 !important;
}
.line {
    color: #7C8290;
}
/*热门嘉宾*/
.all_guest,.all_sponsor{
    background: #FFF;
    border-radius: 5px;
    min-height: 220px;
    /*border: 1px solid red;*/
}
.all_sponsor{
    padding:20px 15px 15px !important;
    position: relative;
    display: none;
}
.all_sponsor .guest{
    padding: 0 10px !important;
    overflow: hidden;
    border-radius: 5px;
}
.mengban{
    height: 100%;
    width: 175px;
    background: rgba(0, 0, 0, 0.51);
    background: #000 \0;
    position: absolute;
    top: 0;
    left:10px;
    border-radius: 5px;
    text-align: justify;
    padding: 0 8px !important;
    display: none;
    cursor: pointer;
}
.spon{
    position: absolute;
    bottom: 5px;
    right: 8px;
}
.all_sponsor .guest p{
    color: #525A6F !important;
    font-size: 15px;
}
.guest>.mengban>p{
    border-bottom: 1px solid #858C9E;
    color: #858C9E !important;
}
.guest>.mengban>span{
    display: block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.guest>.mengban>span>a{
    color: #fff !important;
    line-height: 2;
}

.guest{
    padding: 20px 2px 3px !important;
    text-align: center;
}
.guest p{
    padding: 17px 0 5px;
    margin: 0;
    color: #000 !important;
    font-size: 18px;
}
.guest p span{
    color: #7B8292 !important;
    font-size: 14px;
}

.sponsor:hover{
    border-bottom: 2px solid #1067C8 !important;
}
.jiabin:hover{
    border-bottom: 2px solid #1067C8 !important;
}
.gues_pic{
    width: 60%;
    border-radius: 60%;
    margin: 0 auto;
    overflow: hidden;
}
.gues_pic>img{
    width: 100%;
}
.guest p span{
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.meetings:hover{
    box-shadow: 0 0 8px 1px rgba(183, 183, 183, 0.3);
}